In [2]:
import pandas as pd
import sklearn
data = pd.read_csv('C:\\Users\\Prathamesh\\Documents\\MHTCET_RANK.csv')

In [3]:
# Now let's drop the 'score_type', 'max', and 'Max Rank' columns as requested.
data_cleaned = data.drop(columns=['score_type', 'max', 'Max Rank'])

In [4]:
# Display the cleaned dataset's first few rows
data_cleaned.head()

,college_name,seat_type,branch,min,Min Rank
0,Veermata Jijabai Technological Institute(VJTI)...,OPEN,Computer Engineering,99.829843,509
1,Veermata Jijabai Technological Institute(VJTI)...,OPEN,Computer Engineering,99.817615,546
2,Veermata Jijabai Technological Institute(VJTI)...,OPEN,Information Technology,99.687278,937
3,Bhartiya Vidya Bhavan's Sardar Patel Institute...,OPEN,Computer Engineering,99.550679,1346
4,Veermata Jijabai Technological Institute(VJTI)...,OBC,Computer Engineering,99.591876,1223

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

X = data_cleaned[['seat_type', 'branch', 'min', 'Min Rank']]
y = data_cleaned['college_name']
X_encoded = pd.get_dummies(X, columns=['seat_type', 'branch'])

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [6]:
X_train
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
accuracy
input_data = {
    'seat_type': ['OPEN'], 
    'branch': ['Computer Engineering'], 
    'min': [2],  
    'Min Rank': [12455]  
}

In [7]:
input_df = pd.DataFrame(input_data)

input_encoded = pd.get_dummies(input_df, columns=['seat_type', 'branch'])

for col in model.feature_names_in_:
    if col not in input_encoded.columns:
        input_encoded[col] = 0
input_encoded = input_encoded[model.feature_names_in_]